#root, html, body {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("../images/background.jpg");
    background-position: center;
    background-size: cover;
}

.card {
    width: 80%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: wheat;
    border-radius: 16px;
    box-shadow: 8px 8px ;
    padding: 16px;
    box-sizing: border-box;
}

.advice {
    font-family: 'Fredoka', sans-serif;
    text-align: center;
    user-select: none;
}